*{
    margin: 0;
    padding: 0;
}
/* navbar */
.nav-head a{
    font-size: 25px;
    font-weight: bold;
}

.img-border {
    border: solid 5px;
    border-radius: 50% 50% 0 50%;
}


/* Banner */
.banner {
    position: relative;
}

.banner .banner-1 {
    position: absolute;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-right: 20px;
    position: relative;
}

.banner-1 h2 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.banner-1 h2::before {
    content: "";
    width: 80px;
    height: 3px;
    display: block;
    bottom: 0px;
    background-color: orangered;
    position: absolute;
}

.banner-1 h3 {
    font-weight: 500;
}

.banner-1 p {
    color: rgb(118, 116, 116);
}

.banner-1 a button {
    color: aliceblue;
    font-weight: bold;
    background-color: orangered;
    padding: 4px 15px 7px 15px;
    border-radius: 5px;
    border: none;
}
.banner-social-links a{
    text-decoration: none;
    color: black;
}



.img-outer {
    position: absolute;
    right: 0;
    top: 50%;
    width: 48%;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: solid 15px;
    border-color: orangered;
    border-top-left-radius: 220px;
    border-bottom-left-radius: 220px;
    border-right: 0;
    transform: translateY(-50%);

}

.img-inner {
    overflow: hidden;
    border: solid 10px;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-right-radius: 180px;

}

.img-inner img {
    width: 320px;
    display: block;
}

.banner-social-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    gap: 10px;
    padding: 10px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.banner-social-links a {
    margin: 8px 0;
}

.banner-social-links a i {
    background-color: lightgray;
    padding: 5px;
}


/* About */
.about {
    margin-top: 150px;
    background-color: whitesmoke;
}
.abt-bg{
    background-image: url(../img/images/about-me.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}
.abt-head h2{
    position: relative;
    
}
.abt-head h2::before{
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px -30px;
    background-color: orangered;
    position: absolute;
}
.abt-head h2::after{
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px 5px;
    background-color: orangered;
    position: absolute;
}

.about img {
    align-items: center;
    width: 70%;

}

.abt-head {
    margin-bottom: 70px;
    padding-top: 30px;
    text-align: center;
}

.abt-sd2 {
    padding-top: 50px;
}

.abt-sd2 p {
    color: rgb(118, 116, 116);
}

.abt-sd2 a {
    flex-grow: 1;
    margin: 0 3px;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
    text-decoration: none;
    padding: 2px 17px 4px 17px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(196, 196, 196);
}

.abt-des {
    margin-top: 20px;
    margin-bottom: 20px;
}
.abt-des a{
    color: rgb(118, 118, 118);
}

.abt-des h5 {
    border-left: 3px solid orangered;
    padding: 0px 6px;
    margin: 15px 0 15px 0;
}

.abt-des h5::before {
    width: 80px;
    height: 3px;
    display: block;
    top: 22px;
    background-color: orangered;
    position: absolute;
}

.abt-models {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.abt-wrk {
    display: flex;
    justify-content: space-evenly;
}

.abt-wrk p {
    padding: 10px;
    background-color: orangered;
    border-radius: 50%;
    color: white;
}

.abt-wrk span {
    padding-top: 10px;
    color: rgb(92, 91, 89);
}




/* Service */
.Services {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
}
.ser-head h3{
    position: relative;
}
.ser-head h3::before{
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px -30px;
    background-color: orangered;
    position: absolute;
}
.ser-head h3::after{
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px 5px;
    background-color: orangered;
    position: absolute;
}

.services h3 {
    text-align: center;
}

.ser-box {
    padding: 25px;
    align-items: center;
    text-align: center;
    border: solid 1px;
    margin-top: 65px;
    border-color: rgb(221, 217, 217);
    box-shadow: 0px 0px 9px -4px;
    position: relative;
}

.ser-box h4 {
    padding-top: 35px;
}
.ser-icons-box i{
font-size: 40px;
color: white;
}

.ser-icons-box{
    display: flex;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 57.735px;
    background: orangered;
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
}

.ser-icons-box::before {
    content: "";
    position: absolute;
    top: -26.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid orangered;
    /* border-top-left-radius: 0; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ser-icons-box::after {
    content: "";
    position: absolute;
    bottom: -26.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid orangered;
    border-top-left-radius: 12px;
    border-top-right-radius: 8px;
}





/* Experience */
.myExp {
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 100px;

    margin-bottom: 50px;
    background-color: rgb(239, 239, 239);
}

.exp-head {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 50px;

}
.exp-head h2{
    position: relative;
}
.exp-head  h2::before{
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px -30px;
    background-color: orangered;
    position: absolute;
}
.exp-head  h2::after{
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px 5px;
    background-color: orangered;
    position: absolute;
}

.exp-sec {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.exp-sidehd span {
    padding: 5px;
    background-color: orangered;
    border-radius: 50px;
    color: white;
}
.exp-sideph{
    padding-top: 10px;
}

.exp-sideph span {
    padding-top: 10px;
    color: rgb(150, 147, 143);
}


/* portfolio */
.port-head {
    text-align: center;
    padding-bottom: 50px;

}

.port-head h2{
    position: relative;
}

.port-head h2::before{
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px -30px;
    background-color: orangered;
    position: absolute;
}
.port-head h2::after{
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px 5px;
    background-color: orangered;
    position: absolute;
}

.port-crd {
    width: 100%;
}
.port-content a{
   text-decoration: none;
   padding:2px 10px 5px 11px;;
   border:solid  1px;
   border-radius: 20px;
   border-color: rgb(189, 188, 188);
   color: lightslategray;

}

#port-back-1{
    background-image: url(../img/images/portfolio-01.jpg);
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#port-back-2{
    background-image: url(../img/images/portfolio-02.jpg);
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#port-back-3{
    background-image: url(../img/images/portfolio-03.jpg);
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#port-back-4{
    background-image: url(../img/images/portfolio-04.jpg);
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.port-inner-img img{
    height: 200px;
}

.port-ico-in i{
    color: white;
    position: absolute;
    top: 80px;
    right: 10px;
    padding: 10px;
    background-color: red;
}

/* Testimonial */
.testimoinal{
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: rgb(226, 226, 226);
}
.testimonial-head{
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonial-head h2{
    position: relative;
}
.testimonial-head h2::before{
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px -30px;
    background-color: orangered;
    position: absolute;
}
.testimonial-head h2::after{
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px 5px;
    background-color: orangered;
    position: absolute;
}
.test-btn{
    width: 10px;
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 8px;
    height: 7px;
    padding: 1px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    position: absolute;
    top: 32px;
    background: blueviolet;
    width: 18px;
    height: 0;
    border-radius: 50%;
}
.testimonial-head h2{
    text-align: center;

}
.head-icon{
    margin-top: 10px;
    
    padding-left: 20px;
}
.head-icon img{
    display: flex;
    width: 80px;
    border-radius: 50%;
}
.review-card{
    display: flex;
}
.text-content{
   padding-top: 10px;
}


/* latest blog */
.late-head {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.late-head h2{
   position: relative;
}
.latest {
   
    padding-bottom: 40px;
}

.late-head h2::after {
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px 5px;
    background-color: orangered;
    position: absolute;
}

.late-head h2::before {
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px -30px;
    background-color: orangered;
    position: absolute;
}

.late-card a {
    color: orangered;

}


/* Contact */
.contact {
    background-color: rgb(245, 245, 245);
    
}
.cont-head h1{
 position: relative;

}
.cont-head h1::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #ea4020;
    display: inline-block;

}
.cont-head {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    
}
.cont-head h2{
    position: relative;
}
.cont-head h2::after {
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px 5px;
    background-color: orangered;
    position: absolute;
}

.cont-head h2::before {
    content: "";
    width: 25px;
    height: 3px;
    top: 0px;
    margin: 19px -30px;
    background-color: orangered;
    position: absolute;
}

.con-details {
    height: 100%;
    padding: 20px;
    box-shadow:  0px 0px 5px#ccc;
    background-color: white;
}
.con-details h5{
    border-left: 3px solid orangered;
    padding: 0px 6px;
    margin: 15px 0 15px 0;
}

.cont-details2 {
    box-shadow:  0px 0px 5px #ccc;
    padding: 20px;
    background-color: white;
}

.cont-button {
    background-color: orangered;
    padding: 4px 13px;
    color: white;
    border: 0;
    border-radius: 5px;
}

.contact-social-links a{
text-decoration: none;
}
.contact-social-links a i{
    font-size: 20px;
    color: lightslategray;
    letter-spacing: 10px;
}


/* footer */
.footer{
    margin-top: 20px;
    margin-bottom: 20px;
}
.outer-map{
    box-shadow:  0px 0px 5px #ccc;

    margin-bottom: 40px;
    background-color: white;
}
.inner-map{
    padding: 10px;
}



/* copy Rights */
.copy-social-links a{
 text-decoration: none;
 color: rgb(151, 150, 150);
}
.copy-social-links a i{
    font-size: 20px;
}
.copy-social-links{
   word-spacing: 10px;
}
.copy{
    float: right;
    color: rgb(151, 150, 150);
}
.latest-inner-img img{
    position: relative;
}
.late-ico-in{
    position: absolute;
    padding: 10px;
    background-color: black;
    color: white;
    top: 9px;
    right: 10px;
}

