@media(min-width:768px) and (max-width:992px){
  .banner .banner-1{
    padding-right: 50px;
  }
  .banner-social-links{
    background: #fff;
    box-shadow: 0px 1px 5px #ccc;
    border-radius: 5px;
    right: 0px;
  }
  .img-inner img{
    width: 300px;
  }
  .abt-sd2{
    padding-top: 0px;
  }
}
@media(min-width: 576px) and (max-width:768px){
  .img-outer {
    right: 0;
    top: 47%;
    width: 50%;
    height: 387px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: solid 15px;
    border-color: orangered;
    border-top-left-radius: 188px;
    border-bottom-left-radius: 188px;
    border-right: 0;
    transform: translateY(-50%);
}
}
@media(min-width: 320px) and (max-width:576px){
  .banner .banner-1 {
      position: absolute;
      padding-top: 40px;
      padding-bottom: 50px;
      padding-right: 20px;
      position: relative;
}
.img-outer{
  position: relative;
  width: 100%;
  top: 0;
  transform: translateY(0px);
}
.img-inner {
    overflow: hidden;
    border: solid 10px;
    border-top-left-radius: 263px;
    border-bottom-left-radius: 263px;
    border-top-right-radius: 180px;
}
.img-inner img {
    width: 320px;
    display: block;
}
.banner-social-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  gap: 10px;
  padding: 10px;
  right: 5px;
  top: 9%;
  transform: translateY(0%);
}
}
