*{
    margin: 0;
    padding: 0;
}
/* navbar */
.nav-head a{
    font-size: 25px;
    font-weight: bold;
}

.img-border {
    border: solid 5px;
    border-radius: 50% 50% 0 50%;
}


/* Banner */
.banner {
    padding-bottom: 70px;
    position: relative;
}

.banner-1 {
    position: absolute;
    padding-top: 100px;
    position: relative;
}

.banner-1 h2 {
    font-size: 50px;
    font-weight: bold;
}

.banner-1 h2::before {
    content: "";
    width: 80px;
    height: 3px;
    display: block;
    top: 190px;
    bottom: 0;
    background-color: orangered;
    position: absolute;
}

.banner-1 h3 {
    font-weight: 500;
}

.banner-1 p {
    color: rgb(118, 116, 116);
}

.banner-1 a button {
    color: aliceblue;
    font-weight: bold;
    background-color: orangered;
    padding: 4px 15px 7px 15px;
    border-radius: 5px;
    border: none;
}
.banner-social-links a{
    text-decoration: none;
    color: black;
}
/* About */
.about {
    margin-top: 150px;
    background-color: whitesmoke;
}
.abt-head h2{
    position: relative;
    
}
.abt-head h2::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 18px;
    bottom: 0;
    right: 568px;
    background-color: orangered;
    position: absolute;
}

.abt-head h2::before {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 19px;
    /* bottom: -22px; */
    right: 700px;
    background-color: orangered;
    position: absolute;
}

.about img {
    width: 90%;

}

.abt-head {
    margin-bottom: 70px;
    padding-top: 30px;
    text-align: center;
}

.abt-sd2 {
    padding-top: 50px;
}

.abt-sd2 p {
    color: rgb(118, 116, 116);
}

.abt-sd2 a {
    flex-grow: 1;
    margin: 0 3px;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
    text-decoration: none;
    padding: 2px 17px 4px 17px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(196, 196, 196);
}

.abt-des {
    margin-top: 20px;
    margin-bottom: 20px;
}
.abt-des a{
    color: rgb(118, 118, 118);
}

.abt-des h5 {
    border-left: 3px solid orangered;
    padding: 0px 6px;
    margin: 15px 0 15px 0;
}

.abt-des h5::before {
    width: 80px;
    height: 3px;
    display: block;
    top: 22px;
    background-color: orangered;
    position: absolute;
}

.abt-models {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.abt-wrk {
    display: flex;
    justify-content: space-evenly;
}

.abt-wrk p {
    padding: 10px;
    background-color: orangered;
    border-radius: 50%;
    color: white;
}

.abt-wrk span {
    padding-top: 10px;
    color: rgb(92, 91, 89);
}




/* Service */
.Services {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.Services::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 18px;
    right: 850px;
    background-color: orangered;
    position: absolute;
}

.Services::before {
    content: "";   
    width: 25px;
    height: 3px;
    display: block;
    top: 18px;
    right: 646px;
    background-color: orangered;
    position: absolute;
}

.Services h3 {
    text-align: center;
}

.ser-box {
    padding: 25px;
    align-items: center;
    text-align: center;
    border: solid 1px;
    margin-top: 65px;
    border-color: rgb(221, 217, 217);
    box-shadow: 0px 0px 9px -4px;
    position: relative;
}

.ser-box h4 {
    padding-top: 35px;
}
.ser-icons-box i{
font-size: 40px;
color: white;
}

.ser-icons-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 57.735px;
    background: red;
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
}

.ser-icons-box::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid red;
}

.ser-icons-box::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
}





/* Experience */
.myExp {
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 100px;

    margin-bottom: 50px;
    background-color: rgb(239, 239, 239);
}

.exp-head {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 50px;
    position: relative;
}

.exp-head::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 50px;
    right: calc(50%-100px);
    background-color: orangered;
    position: absolute;
}

.exp-head::before {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 50px;
    right: 771px;
    background-color: orangered;
    position: absolute;
}

.exp-sec {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.exp-sidehd span {
    padding: 5px;
    background-color: orangered;
    border-radius: 50px;
    color: white;
}

.exp-sideph span {
    color: rgb(150, 147, 143);
}


/* portfolio */
.portfolio{
    
}
.port-head {
    text-align: center;
    padding-bottom: 50px;

}

.port-head h2{
    position: relative;
}

.port-head h2::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 35px;
    height: 3px;
    background: #ea4020;
}

.port-head h2::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    top: 0;
    left: 500px;
    margin: auto;
    width: 35px;
    height: 3px;
    background: #ea4020;
}

.port-crd {
    width: 100%;
}
.port-content a{
    text-decoration: none;
   padding:2px 10px 5px 11px;;
   border:solid  1px;
   border-radius: 20px;
   border-color: rgb(189, 188, 188);
   color: lightslategray;

}
.port-inner-img{
    position: relative;
}
.port-ico-in{
    position: absolute;
    top: 131px;
    left: 168px;
    bottom: 0;
}
.port-ico-in i{
    color: white;
    padding: 10px;
    background-color: red;
}

/* Testimonial */
.testimoinal{
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: rgb(226, 226, 226);
}
.testimonial-head{
    margin-top: 50px;
    margin-bottom: 50px;
}
.test-btn{
    width: 10px;
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 8px;
    height: 7px;
    padding: 1px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    position: absolute;
    top: 32px;
    background: blueviolet;
    width: 18px;
    height: 0;
    border-radius: 50%;
}
.testimonial-head h2{
    text-align: center;

}
.head-icon{
    margin-top: 10px;
    
    padding-left: 20px;
}
.head-icon img{
    float: right;
    
    display: flex;
    width: 80px;
    border-radius: 50%;
}
.review-card{
    display: flex;
}
.text-content{
   padding-top: 10px;
}


/* latest blog */
.late-head {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.latest {
    position: relative;
    padding-bottom: 40px;
}

.latest::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 69px;
    right: 636px;
    background-color: orangered;
    position: absolute;
}

.latest::before {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 69px;
    right: 860px;
    background-color: orangered;
    position: absolute;
}

.late-card a {
    color: orangered;

}


/* Contact */
.contact {
    background-color: rgb(245, 245, 245);
    position: relative;
}

.cont-head {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.cont-head::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 69px;
    right: 636px;
    background-color: orangered;
    position: absolute;
}

.cont-head::before {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 69px;
    right: 860px;
    background-color: orangered;
    position: absolute;
}

.con-details {
    height: 100%;
    padding: 20px;
    box-shadow:  0px 0px 5px 0px;
    background-color: white;
}
.con-details h5{
    border-left: 3px solid orangered;
    padding: 0px 6px;
    margin: 15px 0 15px 0;
}

.cont-details2 {
    box-shadow:  0px 0px 5px 0px;
    padding: 20px;
    background-color: white;
}

.cont-button {
    background-color: orangered;
    padding: 4px 13px;
    color: white;
    border: 0;
    border-radius: 5px;
}

.contact-social-links a{
text-decoration: none;
}
.contact-social-links a i{
    font-size: 20px;
    color: lightslategray;
    letter-spacing: 10px;
}


/* footer */
.footer{
    margin-top: 20px;
    margin-bottom: 20px;
}
.outer-map{
    box-shadow:  0px 0px 5px 0px;

    margin-bottom: 40px;
    background-color: white;
}
.inner-map{
    padding: 10px;
}



/* copy Rights */
.copy-social-links a{
 text-decoration: none;
 color: rgb(151, 150, 150);
}
.copy-social-links a i{
    font-size: 20px;
}
.copy-social-links{
   word-spacing: 10px;
}
.copy{
    float: right;
    color: rgb(151, 150, 150);
}
.latest-inner-img img{
    position: relative;
}
.late-ico-in{
    position: absolute;
    padding: 10px;
    background-color: black;
    color: white;
    top: 9px;
    right: 10px;
}

