/* navbar */
.navbar-brand {
    font-weight: bolder;
}

.img-border {
    border: solid 5px;
    border-radius: 50% 50% 0 50%;
}


/* Banner */
.banner {
    padding-bottom: 70px;
    position: relative;
}

.banner-1 {
    position: absolute;
    padding-top: 150px;
    position: relative;
}

.banner-1 h2 {
    font-size: 50px;
    font-weight: bold;
}

.banner-1 h2::before {
    content: "";
    width: 80px;
    height: 3px;
    display: block;
    top: 242px;
    background-color: orangered;
    position: absolute;
}

.banner-1 h3 {
    font-weight: 500;
}

.banner-1 p {
    color: rgb(118, 116, 116);
}

.banner-1 a button {
    color: aliceblue;
    font-weight: bold;
    background-color: orangered;
    padding: 4px 15px 7px 15px;
    border-radius: 5px;
    border: none;
}

/* About */
.about {

    background-color: whitesmoke;
    position: relative;
}

.about::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 50px;
    right: 682px;
    background-color: orangered;
    position: absolute;
}

.about::before {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 50px;
    right: 809px;
    background-color: orangered;
    position: absolute;
}

.about img {
    width: 90%;

}

.abt-head {
    margin-bottom: 70px;
    padding-top: 30px;
    text-align: center;
}

.abt-sd2 {
    padding-top: 50px;
}

.abt-sd2 p {
    color: rgb(118, 116, 116);
}

.abt-sd2 a {
    flex-grow: 1;
    margin: 0 3px;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
    text-decoration: none;
    padding: 2px 17px 4px 17px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(196, 196, 196);
}

.abt-des {
    margin-top: 20px;
    margin-bottom: 20px;
}

.abt-des h5 {
    border-left: 3px solid orange;
    padding: 0px 8px;
    margin: 20px 0 20px 0;
}

.abt-des h5::before {
    width: 80px;
    height: 3px;
    display: block;
    top: 22px;
    background-color: orangered;
    position: absolute;
}

.abt-models {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.abt-wrk {
    display: flex;
    justify-content: space-evenly;
}

.abt-wrk p {
    padding: 10px;
    background-color: orangered;
    border-radius: 50%;
    color: white;
}

.abt-wrk span {
    padding-top: 10px;
    color: rgb(92, 91, 89);
}




/* Service */
.Services {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.Services::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 18px;
    right: 850px;
    background-color: orangered;
    position: absolute;
}

.Services::before {
    content: "";   
    width: 25px;
    height: 3px;
    display: block;
    top: 18px;
    right: 646px;
    background-color: orangered;
    position: absolute;
}

.Services h3 {
    text-align: center;
}

.ser-box {
    padding: 25px;
    text-align: center;
    border: solid 1px;
    margin-top: 65px;
    border-color: rgb(221, 217, 217);
    box-shadow: 0px 0px 9px -4px;
    position: relative;
}

.ser-box h4 {
    padding-top: 35px;
}

.ser-box i {
    width: 100px;
    height: 57.735px;
    background: red;
    position: relative;
}

.ser-box i::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid red;
}

.ser-box i::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
}





/* Experience */
.myExp {
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 100px;

    margin-bottom: 50px;
    background-color: rgb(239, 239, 239);
}

.exp-head {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 50px;
    position: relative;
}

.exp-head::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 50px;
    right: 501px;
    background-color: orangered;
    position: absolute;
}

.exp-head::before {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 50px;
    right: 771px;
    background-color: orangered;
    position: absolute;
}

.exp-sec {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.exp-sidehd span {
    padding: 5px;
    background-color: orangered;
    border-radius: 50px;
    color: white;
}

.exp-sideph span {
    color: rgb(150, 147, 143);
}


/* portfolio */
.port-head {
    text-align: center;
    padding-bottom: 50px;

}

.portfolio {
    position: relative;
}

.portfolio::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 20px;
    right: 620px;
    background-color: orangered;
    position: absolute;
}

.portfolio::before {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 20px;
    right: 875px;
    background-color: orangered;
    position: absolute;
}

.port-crd {
    width: 100%;
}

/* Testimonial */
.head-icon{
    display: flex;
    width: 100px;
}

/* latest blog */
.late-head {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.latest {
    position: relative;
}

.latest::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 69px;
    right: 636px;
    background-color: orangered;
    position: absolute;
}

.latest::before {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 69px;
    right: 860px;
    background-color: orangered;
    position: absolute;
}

.late-card a {
    color: orangered;

}


/* Contact */
.contact {
    background-color: rgb(245, 245, 245);
    position: relative;
}

.cont-head {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.cont-head::after {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 69px;
    right: 636px;
    background-color: orangered;
    position: absolute;
}

.cont-head::before {
    content: "";
    width: 25px;
    height: 3px;
    display: block;
    top: 69px;
    right: 860px;
    background-color: orangered;
    position: absolute;
}

.con-details {
    height: 100%;
    padding: 20px;
    background-color: white;
}

.cont-details2 {
    padding: 20px;
    background-color: white;
}

.cont-button {
    background-color: orangered;
    padding: 4px 13px;
    color: white;
    border: 0;
    border-radius: 5px;
}