.img-outer {
    position: absolute;
    right: 0;
    top: 50%;
    width: 48%;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: solid 15px;
    border-color: orangered;
    border-top-left-radius: 220px;
    border-bottom-left-radius: 220px;
    border-right: 0;
    transform: translateY(-50%);

}

.img-inner {
    overflow: hidden;
    border: solid 10px;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-right-radius: 180px;

}

.img-inner img {
    width: 320px;
    display: block;
}